/*一些初始化*/
html,body,div,canvas,h1,h2,h3,button,ul,li{ margin: 0;padding: 0;}
html{
    height: 100%;
}
body{
    font-family: "Microsoft YaHei";
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fefefe;
}
ul{
    list-style: none;
}
input{
    margin: 0;
    padding: 0;
    height: 10px;
}
button{
    font-weight: 700;
}
/*
 * 重置input[type=range]样式
*/

input[type=range] {
    -webkit-appearance: none;
    margin-top:8px;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;/*range宽*/
    height: 10px;/*range高*/
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 4px 1px #eeeeee;
    background: #ded8ec;
    border-radius: 5px;
    border: 0 solid #010101;
}
/*webkit*/
input[type=range]::-webkit-slider-thumb {
    border: 1px solid #6c7cbb;
    height: 10px;
    width: 18px;
    border-radius: 5px;
    background: #8c9ed5;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0;
}
input[type=range]:focus::-webkit-slider-thumb{
    background-color:#6c7cbb;
    border: 1px solid #5b6baa;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    box-shadow: 0 0 15px 1px #8c9ed5 inset;
}
/*moz*/
input[type=range]::-moz-range-track {
    width: 100%;/*range宽*/
    height: 10px;/*range高*/
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 4px 1px #eeeeee;
    background: #ded8ec;
    border-radius: 5px;
    border: 0 solid #010101;
}
input[type=range]::-moz-range-thumb {
    border: 1px solid #6c7cbb;
    height: 10px;
    width: 18px;
    border-radius: 5px;
    background: #8c9ed5;
    cursor: pointer;
}
/*ie*/
input[type=range]::-ms-track {
    width: 100%;/*range宽*/
    height: 10px;/*range高*/
    cursor: pointer;
    animate: 0.2s;
    border-radius: 5px;
    background: #ded8ec;
    border:0 solid #000000;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #ded8ec;
    border: 0 solid #010101;
    border-radius: 5px;
}
input[type=range]::-ms-fill-upper {
    background: #ded8ec;
    border: 0 solid #010101;
    border-radius: 5px;
}
input[type=range]::-ms-thumb {
    border:0 solid #000000;
    height: 10px;
    width: 18px;
    border-radius: 5px;
    background: #8c9ed5;
    cursor: pointer;
}
input[type=range]:focus::-ms-thumb {
    background-color: #6c7cbb;
}
input[type=range]:focus::-ms-fill-lower {
    box-shadow: 0 0 15px 1px #8c9ed5 inset;
}
input[type=range]:focus::-ms-fill-upper {
    box-shadow: 0 0 15px 1px #8c9ed5 inset;
}


/*头部*/
#header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: #f5f5f5;
    background-color: #362c34;
    min-width: 1003px;
    border-bottom: 3px solid #8c9ed5;
}
#header h1{
    margin-left: 30px;
    font-size: 30px;
}
/*
****展示当前动画效果
/**/
.right-container{
    position: absolute;
    left: 403px;
    right: 0;
    top: 83px;
    background-color: #ffffff;
    height:100%;
    min-width: 500px;
}
#basicAttrShow{
    margin-top: 50px;
    color: #8c9ed5;
}
.code-show{
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 600;
    top: 0;
    width: 100%;
    /*background-color: #ded8ec;*/
    /*border-bottom: 2px solid #6c7cbb;*/
    padding: 10px 0;
    color: #362c34;
}
.code-show div{
    padding-left: 20px;
}
.code-show button{
    margin-left: 20px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #6c7cbb;
    background-color: #ded8ec;
    color: #6c7cbb;
}
.code-show button:hover{
    color: #ffffff;
    background-color: #6c7cbb;
}
.code-show div span{
    color: #6c7cbb;
}
#basicTransformBlock{
    position: absolute;
    z-index: 100;
    width: 150px;
    height: 150px;
    left: 250px;
    top: 200px;
    background-color: #8c9ed5;
    border: 1px solid #6c7cbb;
    color: #ffffff;
}
#transformBlock{
    position: absolute;
    filter:alpha(opacity=60);
    opacity:0.6;
    z-index: 200;
    width: 150px;
    height: 150px;
    left: 250px;
    top: 200px;
    background-color: #6c7cbb;
    border: 1px solid #362c34;
    color: #ffffff;
}
/*
****鼠标操作互动区域
*/
#operationArea{
    margin-top: 80px;
    width: 400px;
    height:100%;
    min-height: 650px;
    background-color: #f5f5f5;
    border-right: 3px solid #6c7cbb;
    overflow: hidden;
}
/*
 *操作区域导航
*/
#sideNav{
    width: 400px;
}
#sideNav ul{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #ded8ec;
    border-bottom:2px solid #6c7cbb;
}
#sideNav li{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #ded8ec;
    color: #6c7cbb;
    cursor: pointer;
    padding: 20px 10px 0 10px;
}
#sideNav li.active{
    background-color: #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    border-left: 2px solid #6c7cbb;
    border-right: 2px solid #6c7cbb;
}
#sideNav li:hover{
    background-color: #f5f5f5;
}
/*
 * 可视化操作区域
*/
#canvasContainer1{
    position: relative;
    width: 400px;
    height: 500px;
    color: #766b7b;
    background-color: #f5f5f5;
}
.operation-block+.operation-block{
    background-color: #f5f5f5;
    height: 400px;
    padding-top: 50px;
}
.operation-block ul{
    margin:0 50px;
}
#library{overflow-y: scroll;}
#library div{
    float: left;
    width: 100px;
    height: 140px;
    margin-left: 25px;
    margin-bottom: 20px;
}
#library canvas{
    background-color: #6c7cbb;
    margin-bottom: 10px;
}
#library a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    width: 98px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #8c9ed5;
    background-color: #ded8ec;
}
#library a:hover{
    color: #ffffff;
    background-color: #8c9ed5;
}
/*
 * canvas title
*/
.canvas-title{
    position: absolute;
    z-index: 20;
    font-size: 20px;
    left: 0;
    top: 53px;
    width: 100%;
    text-align: center;
}
/*
****使用绝对定位
*/
#cubicBezier{
    z-index:10;
    position: absolute;
    left: 50px;
    top: 50px;
    background-color: #f5f5f5;
    /*box-shadow: -1px 3px 7px 1px #6c7cbb;*/
}
/*
 *用before after绘制坐标
*/
#canvasContainer1:before{
    position: absolute;
    z-index: 20;
    left: 50px;
    top: 150px;
    content: 'P('attr(data-p)')';
    width: 50px;
    height: 200px;
    border-right: 1px solid #888;
}
#canvasContainer1:after{
    position: absolute;
    z-index: 20;
    left: 100px;
    top: 350px;
    content: 'TIME('attr(data-time)')';
    width: 200px;
    height: 50px;
    border-top: 1px solid #888;
}
.drag-point{
    position: absolute;
    z-index: 30;
    width: 20px;
    height: 20px;
    border: none;
    margin-left: -10px;
    margin-top: -10px;
    background-color: #8c9ed5;
    border-radius: 10px;
    outline: none;
}
#p1{
    left: 200px;
    top: 200px;
}
#p2{
    left: 250px;
    top: 250px;
}
.drag-point:focus{
    background-color: #ffff00;
    box-shadow: 0 0 2px 2px #6c7cbb;
}
/*
****动画效果展示区域
*/
.slide-block{
    float: left;
    position: relative;
    width: 400px;
    color: #766b7b;
    height: 400px;
    margin: 50px;
    background-color: #f5f5f5;
    box-shadow: 1px 3px 7px 1px #6c7cbb;
}
.slide-block ul{
    margin: 40px;
}
.slide-block label{
    width: 300px;
    font-size: 14px;
}
li.title{
    font-size: 20px;
    font-weight: 600;
    color: #766b7b;
    margin-bottom: 50px;
}
li+li{
    color: #6c7cbb;
}
label,input{
    display: block;
}
/*
 *
 *
*/
/*
****库
****展示已存储transition效果
*/
#libContainer{

}